{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}	

	
<section class="sec-padding about-content full-sec">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-5 col-md-12">
					<div class="full-sec-content">
						<div class="sec-title style-two">
							<h2>More about us</h2>
							<span class="decor">
								<span class="inner"></span>
							</span>
						</div>
						<h3>We Provide Worldwide Charity <br> Service Since 1978</h3>
						<br>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem loremIpsum has been the industry's </p>
						<br>
						<p>since the 1500s, when an un known printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
						<br>
						
					</div>
				</div>
				<div class="col-md-7 hidden-md text-right">
					<img src="{% static 'img/resources/about-1.jpg'%}" alt="Awesome Image"/>
				</div>
				
			</div><br><br><br>
		</div>
</section>

<script>
    $('#aboutmenu').css('text-decoration',  'underline')
</script>
{% endblock %}



	


