{% extends "base.html" %}
{% load staticfiles %}
{% block content%}
<section class="event-feature sec-padding bg-color-fa pb_60">
		<div class="container">
				<div class="sec-title text-center">
						<h2>Our Events</h2>
						<p>Moayed Family Foundation is dedicated to working with children, families, and communities to overcome a lack of food, poverty, and homelessness.</p>
						<span class="decor"><span class="inner"></span></span>
					</div>
					<div class="row">
						<div class="col-sm-12">
										<div class="event border-1px mb_30">
											<div class="row">
												<div class="col-sm-5">
													<div class="event-thumb">
														<div class="thumb">
															<img class="full-width" src="{%static 'img/event/vasona1.jpg'%}" alt="" height="320px">
														</div>
														<ul class="event-date">
															<li class="date">13</li>
															<li class="month">April</li>
														</ul>
													</div>
												</div>
												<div class="col-sm-7">
													<div class="event-content p_20 pl_0">
														<h3 class="event-title">We will be waiting for you.</h3>
														<ul class="event-held list-inline font-13 mb_20">
															<li class="text-555"><i class="fa fa-clock-o"></i> 1.00 pm - 6.00 pm</li>
															<li class="text-555"> <i class="fa fa-map-marker"></i> 333 Blossom Hill Rd, Los Gatos, CA 95032</li>
														</ul>
														<p class="mb_20">Will be held at 33 Blossom Hill Rd, Los Gatos, CA 95032. Admission $50 per person. Dinner and drinks will be provided. Familiy-oriented activities will be provided. Member of the community will be contacted via phone and email. We willbe asking them for monetary contributions to the Organization. Let's support our community by helping families who needs help and support.</p>
														
													</div>
												</div>
											</div>
										</div>
									</div>
					
												
						
							</div>

			<div class="row">
				<br><br>
				<div class="col-sm-12">
	              <div class="event border-1px mb_30">
	                <div class="row">
	                  <div class="col-sm-5">
	                    <div class="event-thumb">
	                      <div class="thumb">
	                        <img class="full-width" src="{%static 'img/event/1.jpg'%}" alt="">
	                      </div>
	                      <ul class="event-date">
	                        <li class="date">23</li>
	                        <li class="month">March</li>
	                      </ul>
	                    </div>
	                  </div>
	                  <div class="col-sm-7">
	                    <div class="event-content p_20 pl_0">
	                      <h3 class="event-title">Everybody is invited.</h3>
	                      <ul class="event-held list-inline font-13 mb_20">
	                        <li class="text-555"><i class="fa fa-clock-o"></i> 1.00 pm - 6.00 pm</li>
	                        <li class="text-555"> <i class="fa fa-map-marker"></i> 333 Blossom Hill Rd, Los Gatos, CA 95032</li>
	                      </ul>
	                      <p class="mb_20">Will be held at 33 Blossom Hill Rd, Los Gatos, CA 95032. Admission $50 per person. Dinner and drinks will be provided. Familiy-oriented activities will be provided. Member of the community will be contacted via phone and email. We willbe asking them for monetary contributions to the Organization. Let's support our community by helping families who needs help and support.</p>
	                      
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
			
				            
				
					</div>
					
		</div>
</section>

<script>
	$('#eventsmenu').css('text-decoration',  'underline')
</script>
{% endblock%}