{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider"  data-version="5.0">
        <ul>
            <li data-transition="parallaxvertical">
                <img src="{% static 'img/slides/1.jpg' %}"  alt="" width="1920" height="705" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >
                <div class="tp-caption sfl tp-resizeme thm-banner-h1"
                    data-x="left" data-hoffset="0"
                    data-y="top" data-voffset="225"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_in="o:0"
                    data-transform_out="o:0"
                    data-start="500">
                    To feed and educate!
                </div>
                <div class="tp-caption sfr tp-resizeme thm-banner-h1 heavy"
                    data-x="left" data-hoffset="0"
                    data-y="top" data-voffset="290"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_in="o:0"
                    data-transform_out="o:0"
                    data-start="1000">
                    We need your support
                </div>
                <div class="tp-caption sfb tp-resizeme thm-banner-h3"
                    data-x="left" data-hoffset="0"
                    data-y="top" data-voffset="368"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_in="o:0"
                    data-transform_out="o:0"
                    data-start="1500">
                    Became a part to change the world
                </div>


            </li>
            <li data-transition="parallaxvertical">
                <img src="{% static 'img/slides/2.jpg' %}"  alt=""  width="1920" height="705" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2" >
                <div class="tp-caption sfl tp-resizeme thm-banner-h1 blue-bg"
                    data-x="left" data-hoffset="0"
                    data-y="top" data-voffset="249"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_in="o:0"
                    data-transform_out="o:0"
                    data-start="500">
                    To feed and educate!
                </div>
                <div class="tp-caption sfr tp-resizeme thm-banner-h1 heavy black-bg"
                    data-x="left" data-hoffset="0"
                    data-y="top" data-voffset="318"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_in="o:0"
                    data-transform_out="o:0"
                    data-start="1000">
                    We need your support
                </div>
                <div class="tp-caption sfb tp-resizeme thm-banner-h3"
                    data-x="left" data-hoffset="0"
                    data-y="top" data-voffset="386"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_in="o:0"
                    data-transform_out="o:0"
                    data-start="1500">
                    Became a part to change the world
                </div>
            </li>
        </ul>
    </div>
</section>


<section class="call-to-action">
    <div class="container-fluid">
        <div class="clearfix">
            <div class="call-to-action-corner col-md-4" style="background-image: url({% static 'img/call-to-action/left-box-bg.jpg' %});">
                <div class="single-call-to-action">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-circle"></i>
                        </div>
                    </div>
                    <div class="content-box">
                        <h3>Donation</h3>
                        <p>A donation may take various forms, including money, <br>alms, services, or goods such as clothing, toys, food, or vehicles. </p>

                    </div>
                </div>
            </div>
            <div class="call-to-action-center col-md-4" style="background-image: url({% static 'img/call-to-action/center-box-bg.jpg' %});">
                <div class="single-call-to-action">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-social"></i>
                        </div>
                    </div>
                    <div class="content-box">
                        <h3>Volunteer</h3>
                        <p>Being a volunteer means that <br>you are offering something for the sake of goodwill. </p>

                    </div>
                </div>
            </div>
            <div class="call-to-action-corner col-md-4" style="background-image: url({%static 'img/call-to-action/right-box-bg.jpg' %});">
                <div class="single-call-to-action">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-medical"></i>
                        </div>
                    </div>
                    <div class="content-box">
                        <h3>Fundraise</h3>
                        <p>Fundraising is not just a means of raising money,<br> but also a way to promote the message and goals of a charity. </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<section class="overlay-white sec-padding parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 promote-project text-center">
                <h3>Save Children From Hunger</h3>
                <div class="sec-title colored text-center">
                    <span class="decor">
                        <span class="inner"></span>
                    </span>
                </div>
                <h2>Became a part of the Moayed Family Foundation</h2>
                <p>Child Hunger Crises Around the World. Save the Children is on the ground now, providing lifesaving support to children and families in response to this devastating food crisis.</p>
                <a href="#" class="thm-btn">Donate Now</a>

            </div>
        </div>
    </div>
</section>





<section class="footer-call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-9 sm-text-center">
                <h3>MOAYED FAMILY FOUNDATION</h3>
                <p>Donating to the causes you care about not only benefits the charities themselves, it can be deeply rewarding for you too. Millions of people give to charity on a regular basis to support causes they believe in, as well as for the positive effect it has on their own lives.</p>
            </div>
            <div class="col-md-3 text-right sm-text-center">

            </div>
        </div>
    </div>
</section>


<section class="home-serivce sec-padding">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Our Services</h2>
            <p>Moayed Family Foundation is dedicated to working with children, families, and communities to overcome a lack of food, poverty, and homelessness.</p>
            <span class="decor"><span class="inner"></span></span>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-gesture-1"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Charity For Education</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the majority have </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-gesture-1"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Mental Health</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the majority have </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-gesture-1"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Job Traning</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the majority have </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-gesture-1"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Leagl help</h3>
                        <p>Legal aid is the provision of assistance to people otherwise unable to afford legal representation and access to the court system. Legal aid is regarded as central in providing access to justice by ensuring equality before the law, the right to counsel and the right to a fair trial.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-gesture-1"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Short term housing</h3>
                        <p>A short-term lease generally refers to a lease with a duration of less than six months. Often, they are based on a month-to-month rental agreement, which may or may not be renewed at the end of each month.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-service-home">
                    <div class="icon-box">
                        <div class="inner-box">
                            <i class="flaticon-gesture-1"></i>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Language Assistance</h3>
                        <p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the majority have </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="footer-call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-9 sm-text-center">
                <h3>Become a member of MOAYED FAMILY FOUNDATION</h3>
                <p>You have the power to change low income people lives and positively impact their hope to society.<br>
                MOAYED FAMILY FOUNDATION has two type of membership. </p>

                    <p>Gold membership</p>
                    <p>Silver membership</p>

            </div>
            <div class="col-md-3 text-right sm-text-center">
                <a href="#" class="thm-btn inverse m-btmm40" style="color:#f14b05">Become a member</a>
            </div>
        </div>
    </div>
</section>

<script>
    $('#homemenu').css('text-decoration',  'underline')
</script>
{% endblock %}