{% extends "base.html"%}
{% load staticfiles %}
{% block content%}
	
<section class="home-serivce sec-padding">
		<div class="container">
			<div class="sec-title text-center">
				<h2>Our Services</h2>
				<p>Moayed Family Foundation is dedicated to working with children, families, and communities to overcome a lack of food, poverty, and homelessness.</p>
				<span class="decor"><span class="inner"></span></span>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="single-service-home">
						<div class="icon-box">
							<div class="inner-box">
								<i class="flaticon-gesture-1"></i>
							</div>
						</div>
						<div class="content">
							<h3>Charity For Education</h3>
							<p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the majority have </p>

						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-service-home">
						<div class="icon-box">
							<div class="inner-box">
								<i class="flaticon-gesture-1"></i>
							</div>
						</div>
						<div class="content">
							<h3>Mental Health</h3>
							<p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the majority have </p>

						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-service-home">
						<div class="icon-box">
							<div class="inner-box">
								<i class="flaticon-gesture-1"></i>
							</div>
						</div>
						<div class="content">
							<h3>Job Traning</h3>
							<p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the majority have </p>

						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-service-home">
						<div class="icon-box">
							<div class="inner-box">
								<i class="flaticon-gesture-1"></i>
							</div>
						</div>
						<div class="content">
							<h3>Leagl help</h3>
							<p>Legal aid is the provision of assistance to people otherwise unable to afford legal representation and access to the court system. Legal aid is regarded as central in providing access to justice by ensuring equality before the law, the right to counsel and the right to a fair trial.</p>

						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-service-home">
						<div class="icon-box">
							<div class="inner-box">
								<i class="flaticon-gesture-1"></i>
							</div>
						</div>
						<div class="content">
							<h3>Short term housing</h3>
							<p>A short-term lease generally refers to a lease with a duration of less than six months. Often, they are based on a month-to-month rental agreement, which may or may not be renewed at the end of each month.</p>

						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-service-home">
						<div class="icon-box">
							<div class="inner-box">
								<i class="flaticon-gesture-1"></i>
							</div>
						</div>
						<div class="content">
							<h3>Language Assistance</h3>
							<p>There are many variations of lorem <br>passagei of Lorem Ipsum available <br> but the majority have </p>

						</div>
					</div>
				</div>
			</div>
		</div>
</section>

<script>
    $('#servicesmenu').css('text-decoration',  'underline')
</script>

{% endblock%}