<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MoayedFamilyFoundation</title>

	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- master stylesheet -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- responsive stylesheet -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">


	<!-- main jQuery -->
	<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- bx slider -->
	<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- validate -->
	<script src="{% static 'js/jquery-parallax.js' %}"></script>
	<!-- validate -->
	<script src="{% static 'js/validate.js' %}"></script>
	<!-- mixit up -->
	<script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
	<!-- fancybox -->
	<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
	<!-- easing -->
	<script src="{% static 'js/jquery.easing.min.js' %}"></script>
	<!-- circle progress -->
	<script src="{% static 'js/circle-progress.js' %}"></script>
	<!-- appear js -->
	<script src="{% static 'js/jquery.appear.js' %}"></script>
	<!-- count to -->
	<script src="{% static 'js/jquery.countTo.js' %}"></script>
	<!-- gmap helper -->
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<!-- gmap main script -->
	<script src="{% static 'js/gmap.js' %}"></script>

	<!-- isotope script -->
	<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
	<!-- jQuery ui js -->
	<script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>

	<!-- revolution scripts -->

	<script src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
	<script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.video.min.js' %}"></script>


	<!-- thm custom script -->
	<!--  parviz owlCarousel bunun ichindedir-->
	<script src="{% static 'js/custom.js' %}"></script>

</head>
<body>

{% include "navbar.html" %}
    {% block content%}
        
    {% endblock%}


<footer class="footer sec-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="footer-widget about-widget">


						<ul class="contact">
							<li><i class="fa fa-map-marker"></i> <span>16400 Lark Ave, Los Gatos, CA 95032</span></li>
							<li><i class="fa fa-phone"></i> <span>(408) 515-4699</span></li>
							<li><i class="fa fa-envelope-o"></i> <span>moayedfamilyfoundation@gmail.com</span></li>
						</ul>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="footer-widget quick-links">
						<h3 class="title">Pages</h3>
						<ul>
							<li><a href="about.html">About Us</a></li>
							<li><a href="services.html">Services</a></li>
							<li><a href="events.html">Events</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 latest-post col-sm-6">
					<div class="footer-widget latest-post">
						<h3 class="title">Latest News</h3>
						<ul>
							<li>
								<span class="border"></span>
								<div class="content">
									<a href="blog-details.html">If you need a crown or lorem an implant you will pay it </a>
									<span>July 2, 2014</span>
								</div>
							</li>
							<li>
								<span class="border"></span>
								<div class="content">
									<a href="blog-details.html">If you need a crown or lorem an implant you will pay it </a>
									<span>July 2, 2014</span>
								</div>
							</li>
							<li>
								<span class="border"></span>
								<div class="content">
									<a href="blog-details.html">If you need a crown or lorem an implant you will pay it </a>
									<span>July 2, 2014</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="footer-widget contact-widget">
						<h3 class="title">Contact Form</h3>
						<form action="inc/sendemail.php" class="contact-form" id="footer-cf">
							<input type="text" name="name"  placeholder="Full Name">
							<input type="text" name="email" placeholder="Email Address" >
							<textarea name="message" placeholder="Your Message"></textarea>
							<button type="submit">Send</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<section class="footer-bottom">
		<div class="container text-center">
			<p>Webpage Created By <a href="https://www.tayqa.com" target="_blank">www.tayqa.com</a></p>
		</div>
	</section>


	


</body>
</html>
